   ## %Welcome Fellow Wanderer%  ->  this is the intro to the  ->  Pandas Basics

### First and formost Pandas is a special package wihtin the vast realm of python libraries, it's one of the essintials if your plans incorporate Data Manipulation. 

##### With that  being said lets learn a few things about it.

In [4]:
# To import pandas we type - 'import pandas as pd' (don't use the '' and you can name it anything but pd is recommended)
# Pandas works superfast with numpy arrays thats why its also recommended to know some basics of numpy beforehand

import numpy as np 
import pandas as pd

### Series

##### A series is a one-dimensional array-like object containing a sequence of values(of similar types (like numpy)) of the same type and an associated array of data labels called index.

In [5]:
# The Simplest Series is formed from only an array of Data.
obj = pd.Series([2,4,1,3,5,7,8]) # Keep in mind that python is case sensitive so use -- > 'pd.Series'
print(obj)

0    2
1    4
2    1
3    3
4    5
5    7
6    8
dtype: int64

In [10]:
# now the previous one looks ugly we can alos do this to make it look interesting
IPL_Teams = ['KKR','CSK','RCB','KXIP','MI']
# Because there are 5 teams we need an array that has 5 values
Scores = np.arange(5) # builds an array having values array([0 1 2 3 4 ])
# Lets now make it a bit more interesting
Data_Series = pd.Series(Scores, index = IPL_Teams)
print(Data_Series)
print(" ")
# Now this looks a bit unpolished, lets add some mopre detailing to it
Data_Series.name ='Scores'
Data_Series.index.name = 'Teams'

print(Data_Series.head(3)) # We can also use the head() function to start from the beginning and alos add a limiter in this case its 3
# in the end you could see that because its a series, so the only column stands for Scores

KKR     0
CSK     1
RCB     2
KXIP    3
MI      4
dtype: int64

Teams
KKR    0
CSK    1
RCB    2
Name: Scores, dtype: int64

In [11]:
# Miscsellaneous
arr = pd.Series([-1, 5, -3, 6, 2])
print(arr.index) # this prints out some details of the Series

RangeIndex(start=0, stop=5, step=1)

####   Series Manipulation

In [34]:
unique_name = 'o'
list_u = sorted([5,2,6,3,4,1,8,7,0]) # putting some random values that we will add to the index_builder

index_builder = [unique_name+str(x) for x in list_u] 
# see this is quite interesting we are takinf the values from list_u one by one and then adding it to the unique_name (generator object)

obj1 = pd.Series(list_u, index = index_builder)
print(obj1)

o0    0
o1    1
o2    2
o3    3
o4    4
o5    5
o6    6
o7    7
o8    8
dtype: int64

In [21]:
type(obj1['ossi_4']) # this is a numpy.int64 type file
# now pandas sort of works like a dictionary, see below
print(obj1['ossi_1']) # if you execute only obj1['ossi_1'] without the print statement it will return a numpy.int64 thing 
# you will get the relevant value

1

#### Similarity in Dictionary ( Hash - Tables )

In [32]:
# Just for example
new_dict = dict()
new_dict['Gogol'] = 0
new_dict['Guddu'] = 0
penalty_scores = [1,1,1,1,0,1,1,0,1,0,0,0,1,1,0,1]
# print(len(penalty_scores))
for i in range(0,len(penalty_scores)-1,2):
    new_dict['Gogol'] += penalty_scores[i]
    new_dict['Guddu'] += penalty_scores[i+1]

# print(new_dict)

#similar to the pandas method

new_dict['Guddu'] # this returns the relevant value, like what we saw in pd.Series

5

In [41]:
# Another interesting thing is -->
obj1[['o1','o3','o5']] 
# This returns the values in a table format only the ones you put within the brackeets, not putting the bracketts will throw an error
# because check this out

print("")
print(type(obj1[['o1','o3','o5']]))  # remove the type to get the values
# <class 'pandas.core.series.Series'>

# print(type(obj1['o4','o6'])) # don't run
# 'key of type tuple not found and not a MultiIndex' this is the problem, the pandas thinks that its an single object but we gave it multiplew so it could not process properly

<class 'pandas.core.series.Series'>

In [42]:
obj1[obj1>3] # This will output the details of the objects whose values are more than 3 (in a tabular Structure)

o4    4
o5    5
o6    6
o7    7
o8    8
dtype: int64

In [43]:
# now we will apply the exponential function on the pandas series to see what we get
print(np.exp(obj1)) # Still we get the key pair values in a tabular structure (more like a dict)

o0       1.000000
o1       2.718282
o2       7.389056
o3      20.085537
o4      54.598150
o5     148.413159
o6     403.428793
o7    1096.633158
o8    2980.957987
dtype: float64

In [44]:
# we can also search for particular keys to get their corresponding values
print('o6' in obj1) # as the item is present in the form of a key in the obj1 this will return True

True

In [51]:
# Lets say we have a dictionary that looks like this
Pool_Records = {'Richard': 5,
                'Solemon': 7,
                'Richardo': 15} 
# Assuming the keys are the names of the clients and the numbers represent the total number logins they have performed
# We can easily transfor the dictionary to a pandas series, for that we have to do: 
pandas_series = pd.Series(data = Pool_Records) 
print(pandas_series)
# we could convert this pandas series back to the dictionary by using the .to_dict() function

new_dict = pandas_series.to_dict()
print(type(new_dict)) # Now this acts as a dictionary

Richard      5
Solemon      7
Richardo    15
dtype: int64
<class 'dict'>

In [61]:
import random
players = ['Rohit', 'Gill', 'Virat', 'KL Rahul', 'Hardik', 'Jadeja', 'Surya', 'Panti', 'Shami', 'Bumrah', 'Kuldeep'] # name of some players
Scores_Dict = {player: random.randint(0,200) for player in players}
# print(Scores_Dict)
# Assigning to 0 values
Scores_Dict['Raidu'] = 0 
Scores_Dict['Rahane'] = 0

series_1 = pd.Series(data = Scores_Dict)
print(series_1.head(8))

Rohit       183
Gill         26
Virat        62
KL Rahul     77
Hardik      162
Jadeja       46
Surya       108
Panti       193
dtype: int64

#### Thing is with methods such as .isna , .notna etc you need not to write print all the time

In [63]:
pd.isna(series_1) # This Checks whether the corresponding value is 0 or not
pd.notna(series_1) # Does quite the opposite of the previous one
# you could also do this instead
series_1.isna() # Litrerally does the same thing as the first one

Rohit       False
Gill        False
Virat       False
KL Rahul    False
Hardik      False
Jadeja      False
Surya       False
Panti       False
Shami       False
Bumrah      False
Kuldeep     False
Raidu       False
Rahane      False
dtype: bool

In [66]:
# Just a random Dictionary

lang = {'Las Vegas':'*****',
        'Boston':'****',
        'New York':'***',
        'Torronto':'*',
        'New Orleans':'***'}
for key, values in lang.items():
    print(f'City: {key} Rating: {values}\n')

# now we create another series obj on the converted version of this dict

series2 = pd.Series(lang)
cities = ['Las Vegas','Torronto','New Jersey','California','New York','Boston']
series3 = pd.Series(lang, index = cities)
print(series3) # This will keep the previous values but the new keys that we had put as index will be empty

City: Las Vegas Rating: *****

City: Boston Rating: ****

City: New York Rating: ***

City: Torronto Rating: *

City: New Orleans Rating: ***

Las Vegas     *****
Torronto          *
New Jersey      NaN
California      NaN
New York        ***
Boston         ****
dtype: object